*{
   margin: 0px;
   padding: 0px;
}
body{
   width: 1600px;
   background: #fff;
   margin-left: auto;
   margin-right: auto;
}

/* Banner Css */
header{
   background-image: url("../resources/Banner\ Image.png");
   background-repeat: no-repeat;
   width: 1320px;
   height: 600px;
   flex-shrink: 0;
   margin: 50px 140px;
   background-position: center;
   opacity: 0.90;
}
.banner-text{

   color: #FFF;
   text-align: center;
   font-family: Merriweather;
   font-size: 40px;
   font-style: normal;
   font-weight: 900;
   
   height: 100%;
   padding: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: linear-gradient(to bottom, black, transparent); 
}

/* OFF SECTION  */
.off-section{
   margin: 100px 400px;
}
/* .off-text{
 margin-left: 290px;
} */
.off-text h1{
   color: #F00;
   text-align: center;
   font-family: Inter;
   font-size: 88px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-bottom: 50px;
   }
.off-text p{
   cext-align: center;
   font-family: Inter;
   font-size: 24px;
   font-styleolor: #F00;
   t: normal;
   font-weight: 500;
   line-height: normal;
}
.off-text h2{
   color: #070211;
   text-align: center;
   font-family: Inter;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-top: 20px;
}
/* midnight-section */
.midnight-section{
   background-image: url("../resources/Vectorrr.png");
   background-repeat: no-repeat;
   margin: 50px 140px;
   display: flex;
   
}
.midnight{
   display: flex;
   background: linear-gradient(to bottom, black, transparent);
}
.midnight-text{
   padding:100px;
}
.midnight-text h1{
   color: #FFF;
   font-family: Merriweather;
   font-size: 64px;
   font-style: normal;
   font-weight: 900;
   line-height: 88px; /* 137.5% */
   letter-spacing: 7.04px;
}
.midnight-text p{
   color: rgba(255, 255, 255, 0.80);
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px; /* 166.667% */
   padding-bottom: 20px;

}
.midnight a{
   text-decoration: none;
   color: #FFF;
   text-align: center;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-transform: uppercase;
}
.midnight-img{
   padding: 50px;
}
/* imformation-section */

.information-sec{
   width: 1320px;
   height: 482px;
   flex-shrink: 0;
   background: rgba(255, 0, 0 ,0.10);
   margin: 50px 140px;
}
.information-text{
   color: #070211;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   padding:100px 385px 214px ;
   line-height: 56px;
}
.information-text span {
   color: #F00;
}
.place{
   margin-left: 100px;
}
.date{
   margin-left:50px;
}
.time{
   margin: left 50px;
}
.btn{
   color: #FFF;
   padding: 10px 25px;
   border-radius: 5px ;
   background-color: #F00;
   border: 0;
   margin-left: 200px;
   margin-top: 30px;
}

/* New offer sec */
.new-offer{
   width: 1320px;
   height: 600px;
   display: flex;
   margin: 50px 140px;
}
.offer-text h1{
   color: #070211;
   font-family: Merriweather;
   font-size: 48px;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
   text-transform: capitalize;
}
.offer-text p{
   color: rgba(7, 2, 17, 0.60);
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px; /* 160% */
   padding-top: 50px;
}
.red{
   color: #F00 !important;
   font-size: 20px;

}
.offer-img{
   margin: 50px;
}
.newyear-text p{
   padding:30px 0px;
}
.newyear-text h1{
   padding-top: 40px;
}

/* Best gift */
.best-gift{
   width: 1320px;
   height: 1163px;
   margin: 50px 140px;
}
.best-gift h1{
   color: #070211;
   font-family: Merriweather;
   font-size: 48px;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
   text-transform: capitalize;
   padding-bottom: 20px;
}
.best-gift p{
   color: rgba(7, 2, 17, 0.60);
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px; /* 160% */
   padding-bottom: 30px;
}
.best-gift img{
   margin: 10px;
   filter: grayscale(.1);
   transition: .3s;
}
.best-gift img:hover{
   filter:grayscale(0) ;
    transform: scale(1) rotate(-5deg);
   
}
.img-div{
   display: flex;
}

/* subscribe-sec */
.subscribe-sec{
   width: 1320px;
   height: 616px;
   border-radius: 16px;
   background: rgba(255, 0, 0, 0.05);
   margin: 50px 140px;
   
}
.subscribe-sec img{
   width: 150px;
   height: 150px;
   padding: 80px 585px 20px;
   
}
.subscribe-sec h1{
   color: #070211;
   text-align: center;
   font-family: Merriweather;
   font-size: 48px;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
   text-transform: capitalize;
}
.subscribe-sec p{color: rgba(7, 2, 17, 0.60);
   text-align: center;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px; /* 160% */
  
}
.form{
   padding: 50px 0;
   display: flex;
   justify-content: center;
}
.form input{
   padding: 15px 40px;
   min-width: 250px;
   border-bottom-left-radius: 50px;
   border-top-left-radius: 50px;
   outline: none;
   border: none;
}
.form button{
   background-color: #F00;
   padding: 15px 40px;
   border: 0;
   border-bottom-right-radius: 50px;
   border-top-right-radius: 50px;
}
.form a{
   text-decoration: none;
   color: #fff;
}

/* footer */
footer{
   width: 1600px;
   height: 609px;
   flex-shrink: 0;
   background-color: #070211;
   color: #FFF;

   display: flex;
   flex-direction: column;
}

footer .top_section,
.middle_section,
.bottom_section {
   width: 1320px;
   margin-left: auto;
   margin-right: auto;
}

footer .top_section {
   display: flex;
   justify-content: space-between;
   margin-top: 120px;
}
.middle_section {
   display: flex;
   justify-content: space-between;
   margin-top: 48px;
   border-top: 1px solid rgba(255, 255, 255, 0.15);
   border-bottom: 1px solid rgba(255, 255, 255, 0.15);
   display: flex;
   justify-content: center;
   gap: 24px;
   padding: 48px 0;
}
 .middle_section a img {
   width: 54px;
   height: 54px;
}
.top_section .address {
   color: #FFF;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 40px;
}

.bottom_section {
   display: flex;
   margin-top: 50px;
   margin-bottom: 120px;
   justify-content: space-between;
}

.bottom_section p,a {
   color: #FFF;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   text-decoration: none;
}


footer .top_section .contact .contact_container .contact_item {
   display: flex;
   align-items: center;
   gap: 16px;
}

footer .top_section .contact .contact_container .contact_item p,a {
   color: #FFF;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 40px;
}

/* Finish code.... */
