*{
   margin: 0px;
   padding: 0px;
}
body{
   width: 1600px;
   height: 7335px;
   background: #fff;
}

/* Banner Css */
header{
   background-image: url("/resources/Banner\ Image.png");
   background-repeat: no-repeat;
   width: 1320px;
   height: 600px;
   flex-shrink: 0;
   margin: 50px 140px;
   background-position: center;
   opacity: 0.90;
}
.banner-text{

   color: #FFF;
   text-align: center;
   font-family: Merriweather;
   font-size: 40px;
   font-style: normal;
   font-weight: 900;
   
   height: 100%;
   padding: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: linear-gradient(to bottom, black, transparent); 
}

/* OFF SECTION  */
.off-section{
   margin: 100px 400px;
}
/* .off-text{
 margin-left: 290px;
} */
.off-text h1{
   color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 50px;
}
.off-text p{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.off-text h2{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 20px;
}
/* midnight-section */
.midnight-section{
   background-image: url("/resources/Vectorrr.png");
   background-repeat: no-repeat;
   margin: 50px 140px;
   display: flex;
   
}
.midnight{
   display: flex;
   background: linear-gradient(to bottom, black, transparent); b
}
.midnight-text{
   padding: 100px;
}
.midnight-text h1{
   color: #FFF;
 font-family: Merriweather;
 font-size: 64px;
 font-style: normal;
 font-weight: 900;
 line-height: 88px; /* 137.5% */
 letter-spacing: 7.04px;
}
.midnight-text p{
   color: rgba(255, 255, 255, 0.80);
 font-family: Inter;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 30px; /* 166.667% */
 padding-bottom: 20px;

}
.midnight a{
   text-decoration: none;
   color: #FFF;
   text-align: center;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-transform: uppercase;
}
.midnight-img{
   padding: 50px;
}
/* imformation-section */

.information-sec{
   width: 1320px;
   height: 482px;
   flex-shrink: 0;
   background: rgba(255, 0, 0 ,0.10);
   margin: 50px 140px;
}
.information-text{
   color: #070211;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   padding:100px 385px 214px ;
   line-height: 56px;
}
.information-text span {
   color: #F00;
}
.place{
 margin-left: 100px;
}
.date{
 margin-left:50px;
}
.time{
 margin: left 50px;
}
.btn{
   color: #FFF;
   padding: 10px 25px;
   border-radius: 5px ;
   background-color: #F00;
   border: 0;
   margin-left: 200px;
   margin-top: 30px;
}