*{
   margin: 0px;
   padding: 0px;
}
body{
   width: 1600px;
   height: 7335px;
   background: #fff;
}
/* Banner Css */
header{
   background-image: url("/resources/Banner\ Image.png");
   background-repeat: no-repeat;
   width: 1320px;
   height: 600px;
   flex-shrink: 0;
   margin: 50px 140px;
   background-position: center;
   opacity: 0.90;
}
.banner-text{

   color: #FFF;
   text-align: center;
   font-family: Merriweather;
   font-size: 50px;
   font-style: normal;
   font-weight: 900;
   line-height: 95px;
   padding-top: 100px;
}

/* OFF SECTION  */
.off-section{
   margin: 100px 400px;
}
/* .off-text{
 margin-left: 290px;
} */
.off-text h1{
   color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 50px;
}
.off-text p{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.off-text h2{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 20px;
}
/* idnight-section */
.midnight-section{
   background-image:url("/resources/Vectorrr.png");
   background-repeat: no-repeat;
   width: 1320px;
   height: 600px;
  flex-shrink: 0;
  margin-left: 200px;
  display: flex;
  opacity: 0.75;
}

.section-title{
   margin: 70px 140px;
}
.section-title h1{
   color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
padding-top: 100px;
}
.section-title p{
   color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
padding-bottom: 30px;
}
.section-title a{
   
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
text-decoration: none;
}
.year-img{
   padding: 50px 30px;
}